<%= cache_unless (logged_in? or @disable_cache_theme_navigation), "cirandas-responsive/navigation-#{I18n.locale}.html.erb", expires_in: 1.day do %>
  <li id="navigation-contents"><%= search_contents_menu %></li>
  <li id="navigation-people"><%= search_people_menu %></li>
  <li id="navigation-products"><%= link_to content_tag('span', _('Products')), {host: environment.default_hostname, action: :products, controller: :search}, {class: 'icon-product', title: 'Produtos'} %></li>
  <li id="navigation-enterprises"><%= link_to content_tag('span', _('Enterprises')), {host: environment.default_hostname, action: :enterprises, controller: :search}, {class: 'icon-menu-enterprise', title: 'Empreendimentos'} %></li>
  <li id="navigation-communities"><%= search_communities_menu %></li>
  <li id="navigation-events"><%= link_to content_tag('span', _('Events')), {host: environment.default_hostname, action: :events, controller: :search}, {class: 'icon-event', title: 'Eventos'} %></li>

  <li id="navigation-help"><%= link_to content_tag('span', _('Help')), '//cirandas.net/ajuda', {class: 'icon-help', title: 'Ajuda'} %></li>
<% end %>
