<% cache_timeout "cirandas-responsive/navigation-#{I18n.locale}.html.erb", 1.day do %>
  <li id="navigation-contents"><%= search_contents_menu %></li>
  <li id="navigation-people"><%= search_people_menu %></li>
  <li id="navigation-products"><%= link_to 'Produtos', {host: environment.default_hostname, action: :products, controller: :search}, {class: 'icon-product', title: 'Produtos'} %></li>
  <li id="navigation-enterprises"><%= link_to 'Empreendimentos', {host: environment.default_hostname, action: :enterprises, controller: :search}, {class: 'icon-menu-enterprise', title: 'Empreendimentos'} %></li>
  <li id="navigation-communities"><%= search_communities_menu %></li>
  <li id="navigation-events"><%= link_to 'Eventos', {host: environment.default_hostname, action: :events, controller: :search}, {class: 'icon-event', title: 'Eventos'} %></li>
  <li id="navigation-help"><%= link_to 'Ajuda', '//cirandas.net/ajuda', {class: 'icon-help', title: 'Ajuda'} %></li>

  <% calculate_spacing = true if calculate_spacing.nil? %>

  <script type="text/javascript">
    if (typeof cirandas_theme === 'undefined') cirandas_theme = {};
    cirandas_theme.calculate_spacing = <%= (!! calculate_spacing).to_json %>;
  </script>
<% end %>
