<%= theme_include('env_navigation') %>

<div id="header-content">
  <div id='logo'><%= link_to('<span>Faces do Brasil</span>', '/'+profile.identifier) %></div>
  <div id='right-elements'>
    <ul>
      <li><div id="top-search"><%= render :partial => 'shared/profile_search_form' %></div></form>
      </li>
      <li><span>Portal de Comércio Justo e Solidário</span></li>
    </ul>
  </div>
</div>

<div id='top-menu'>
  <ul>
   <li><%= link_to('<span>Notícias</span>', '/'+profile.identifier+'/noticias') %></li>
   <li><%= link_to('<span>Midiateca</span>', '/'+profile.identifier+'/midiateca') %></li>
   <li><%= link_to('<span>Ponto de Vista</span>', '/'+profile.identifier+'/ponto-de-vista') %></li>
   <li><%= link_to('<span>Enquetes</span>', '/'+profile.identifier+'/enquetes') %></li> 
   <li><%= link_to('<span>Álbum de Fotos</span>', '/'+profile.identifier+'/album-de-fotos') %></li>
   <li><%= link_to('<span>Contato</span>', '/contact/'+profile.identifier+'/new') %></li>
   <li><%= link_to('<span>Links</span>', '/'+profile.identifier+'/links') %></li>
  </ul>
</div>
