<div id='cirandas-navigation'>
  <%= theme_include('env_navigation') %>
</div>

<div id="top-menu">
  <ul>
    <li><a id="contact" href="/contact/<%= profile.identifier %>/new">Contato</a></li>
    <li><a id="socioambiental"href="/<%= profile.identifier %>/socioambiental">Socioambiental</a></li>
    <li><a id="catalog" href="/catalog/<%= profile.identifier %>">Nossos Produtos</a></li>
    <li><a id="quem-somos" href="/<%= profile.identifier %>/quem-somos">Quem Somos</a></li>
  </ul>
</div>
