<div id='cirandas-navigation'>
  <%= theme_include('env_navigation') %>
</div>

<div id="top-menu">
  <ul>
    <li id="contact"><a href="/contact/<%= profile.identifier %>/new">FALE COM A COOFE</a></li>
    <li id="gallery"><a href="/<%= profile.identifier %>/galeria">GALERIA</a></li>
    <li id="eventos"><a href="/<%= profile.identifier %>/eventos">EVENTOS</a></li>
    <li id="onde-estamos"><a href="/<%= profile.identifier %>/onde-estamos">ONDE ESTAMOS</a></li>
    <li id="catalog"><a href="/catalog/<%= profile.identifier %>">NOSSOS PRODUTOS</a></li>
    <li id="a-coofe"><a href="/<%= profile.identifier %>">A COOFE</a></li>
    <li id="logo-top" ><a href="/<%= profile.identifier %>"><span>Coofe</span></a></li>
  </ul>
  <div id="a-coofe-bar">
    <a>
      <p id="img-coofe"></p>
    </a>
  </div>
  <div id="catalog-bar"><p><span>NOSSAS DELÍCIAS</h1></span></div>
  <div id="onde-estamos-bar"><p><span>VENHA NOS CONHECER</span></p></div>
  <div id="eventos-bar"><p><span>EVENTOS QUE PROMOVEMOS</span></p></div>
  <div id="galeria-bar"><p><span>GALERIA</span></p></div>
  <div id="contact-bar"><p><span>FALE COM A COOFE</span></p></div>
</div>

