<%= theme_include('env_navigation') %>

<div id="top-menu" class="link-list-block">
  <ul>
    <li><a href="/<%= profile.identifier %>">Início</a></li>
    <li><a href="/<%= profile.identifier %>/vera-cruz/a-ilha">Vera Cruz</a></li>
    <li><a href="/<%= profile.identifier %>/roteiros/roteiro">Roteiros</a></li>
    <li><a href="/<%= profile.identifier %>/servicos/depoimentos">Serviços</a></li>
    <li><a href="/<%= profile.identifier %>/ecosoltur">Ecosoltur</a>
      <ul class="submenu">
        <li><a href="/<%= profile.identifier %>/naplos">Naplos</a></li>
        <li><a href="/<%= profile.identifier %>/economia-solidaria">Economia Solidária</a></li>
      </ul>
    </li>
    <li><a href="/<%= profile.identifier %>/galeria">Galeria</a></li>
  </ul>
</div>

<div id="logo"><a href="/<%= profile.identifier %>"><span>Vera Cruz</span></a></div>

